h1{
    color:cadetblue;
    font-size: 70px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

h3{
    color:aquamarine;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}